<div class="container-info">

    <div class="card card-movie">

        <div class="card-img">
            <img [src]='movie.Poster' alt="capa">
        </div>

        <div class="card-text">
            
            <h2>{{ movie.Title }}</h2>
            <div class="age-time">
                <p>Ano: {{ movie.Year }}  </p> 
                <p>Duração: {{ movie.Runtime }}</p>
            </div>

            <p>Classificação: {{ movie.Rated }}</p>
            <p><img src="../../../assets/star.png" alt="Avaliações"> {{ movie.imdbRating }}</p>
            <p><img src="../../../assets/like.png" alt=""> {{ movie.imdbVotes }}</p>
            <p>{{ movie.Plot }}</p>
            <p>Elenco: {{ movie.Actors }}</p>
            <p>Gênero: {{ movie.Genre }}</p>
            <p>Director: {{ movie.Director }}</p>
        </div>

    </div>

    <div class="card-info">
        <div class="descricao">
        </div>
    </div>

</div>

